* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
}

ul,
li,
a {
    list-style-type: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navbar-links a {
    color: rgba(167, 167, 167, 0.788);
    transition: all 0.3s ease-in-out;
}

.navbar-links a:hover {
    color: white;
}

.custom-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 5vh;
}

.button-div {
    display: none;
}

.navbar-links ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.search-box-container {
    margin-right: 55px;
}

.search-box-container input {
    border: solid 2px white;
    background-color: transparent;
    border-radius: 5px;
    margin-right: 10px;
    padding: 0 10px;
    color: white;
}

.search-box-container input::placeholder {
    color: white;
}

.search-box-container button {
    font-size: 0.8em;
    background-color: purple;
    border: none;
    color: white;
    padding: 6px 9px;
    border-radius: 7px;
    transition: all 0.3s ease-in-out;
}

.search-box-container button:hover {
    background-color: white;
    color: purple;
}

.know-more {
    background-color: black;
    color: white;
    padding: 50px 0;
}

.know-more-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin-bottom: 70px;
}

.know-more h1 {
    text-align: center;
    font-weight: 200;
}

.box {
    display: flex;
    gap: 20px;
}

.email-container {
    border: solid 2px white;
    padding: 60px 40px;
    border-radius: 13px;
}

.email-input,
.label-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.label-container input[type='email'] {
    border: solid 2px white;
    padding: 10px 15px;
    background-color: transparent;
    border-radius: 8px;
    color: white;
}

.label-container input[type='submit'] {
    border: none;
    padding: 10px 15px;
    background-color: purple;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.label-container input[type='submit']:hover {
    color: purple;
    background-color: white;
}

.label-container input[type='email']::placeholder {
    color: white;
}

.carousel-caption {
    bottom: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.categories {
    margin-top: 20px;
}

.categories-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 40px;
    margin-top: 20px;
    text-align: center;
}

.categories-container p {
    background-color: black;
    color: white;
}

.categories h1 {
    text-align: center;
}

@media (max-width: 450px) {
    .custom-navbar {
        background-color: transparent;
        flex-direction: column;
        align-items: flex-start;
        width: 15%;
        height: 100%;
        padding: 20px 0;
    }

    .button-div {
        display: block;
        margin-left: 20px;
    }

    .button-div button {
        border-radius: 5px;
        background-color: white;
        border: none;
        font-size: 1.7em;
        cursor: pointer;
    }


    .navbar-links,
    .search-box-container {
        display: none;
    }

    .navbar-links ul {
        flex-direction: column;
        margin-bottom: 50px;
        margin-left: 25px;
    }

    .search-box-container label {
        flex-direction: column;
    }

    .know-more {
        display: none;
    }
}
